<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="public/css/main.css">
		<script src="public/js/main.js"></script>
	</head>
	<body>
    <h2>Tell the server your deets</h2>
    <form method="POST" action="/makepost" enctype="application/x-www-form-urlencoded" role="form">
      <fieldset>
        <legend>The Deets</legend>
        Name: <input type="text" name="name"><br>
        Email: <input type="text" name="email"><br>
        <button type="submit">Send Deets</button>
      </fieldset>
    </form>

	</body>
</html>
